<div class="chatBar">
	<form id = "send-container">
		<textarea class="is-success modern" id = "send-input" placeholder="Spread ur ideas here" autofocus></textarea>
		<div class="tools">
			<button type="submit" class="button is-primary is-rounded" id = "send-message">Trimite</button>
		</div>
	</form>
</div>