<div class="chatBar">
	<form id = "send-container">
		<textarea class="is-success modern" id = "send-input" placeholder="Sa spamezi cit poti:*"  autofocus></textarea>
		<div class="tools">
			<button type="submit" class="button is-primary is-rounded" id = "send-message">Trimite</button>
			<button class="button is-danger is-rounded" id="buzz">BUZZ</button>
		</div>
	</form>
</div>