<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
<a class="navbar-item" href="/">
<img src="/images/resources/logo.png" alt="Logo Iahu" title="Logo Iahu">
</a>
<a role="button" class="navbar-burger burger" id="nav-toggle" aria-label="menu" aria-expanded="false" data-target="navbarmenuexpand">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div id="navbarmenuexpand" class="navbar-menu">
<div class="navbar-end">
<div class="navbar-item">
<div class="buttons">
<a class="button is-primary is-rounded" href="https://racnetulcarpatilor.ro/login?referer=iahu">
Autentificare </a>
<a class="button is-success is-rounded" href="/room/random">
Chat random </a>
<a class="button is-info is-rounded" target="_blank" href="https://racnetulcarpatilor.ro/">
Racnetul Carpatilor </a>
</div>
</div>
</div>
</div>
</nav>