<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include partials/navbar %>
  	<div class="columns greeting">
	  <div class="column is-full">
	  	<h1 class="is-size-1">Bine ai venit, Mesteacan Lucios</h1>
	  </div>
	</div>
  </body>
</html>
