<!DOCTYPE html>
<html>
<head>
	<title><%- title %></title>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      const roomName = "<%-room%>";
    </script>
</head>
<body>
	<% include partials/navbar %>
	<div class="columns room-announce">
		<div class="column is-full">
			<h1 class="is-size-2">Camera <%-room%></h1>
		</div>
	</div>
	<div class="container">
		<% include partials/chatRoom %>
	</div>

	<% include partials/chatbox %>
	<script defer src = "http://localhost:8080/socket.io/socket.io.js"></script>
	<script defer src = "/javascripts/socketClient.js"></script>
</body>
</html>