.greeting{
	margin-top: 120px !important;
	max-width: 90vw !important;
	left: 0;
	right: 0;
	margin: auto;
}
.room-announce{
	margin-top: 80px !important;
	max-width: 90vw !important;
	left: 0;
	right: 0;
	margin: auto;
}
.column{
	text-align: center;
}

.purple{
	background-color: #c634eb;
}

.left-text{
	text-align: left !important;
}
.inline{
	display: inline-block;
	vertical-align: middle;
}

.z-depth-1{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.chatBar{
	position: fixed;
	width: 100vw;
	bottom: 0;
	height: 200px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #f2f2f2;
}

.modern{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #f2f2f2;
	border: none;
	outline: #f2f2f2;
	outline-color: #f2f2f2;
	border-color: #f2f2f2;
	box-shadow: none;
	width: 70%;
	padding: 20px;
	font-size: 2rem;
}
.tools{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30%;
	padding: 15px;
}
.chat{
	background-color: #fcfcfc;
	padding: 20px;
	border-radius: 4px;
	vertical-align: middle;
	max-width: 90vw;
	max-height: 280px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}
.space{
	margin-top: 50px;
}
.text{
	text-align: center;
}
.room-container{
	background-color: #f5f5f5;
	border-radius: 4px;
	width: 60%;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
}
.actual-rooms{
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.new-room{
	text-align: center;
}
.control input{
	width: 20% !important;
}
.button{
	margin-bottom: 7.5px;
	margin-top: 7.5px;
}
#best-body{
	background-image: url('/images/resources/doodle-pattern.png');
	background-repeat: repeat;
	height: 100vh;
	background-color: #f0f0f0;
}